@model parcial.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Vehiculo</h1>

<h3>¿Quieres eliminar el registro?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVentas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVentas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.VehiculoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VentaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
